



body {
		color: #777;
		font-family: "Roboto", sans-serif;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.5;
	}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	}

section {
	padding: 70px 0;
}

.top {
		background: #e77e04 url(../images/intro_bg.jpg) no-repeat top center;
		color: #fff;
	}

.top_header {
		font-size: 50px;
		text-transform: uppercase;
	}

.top_text {
		font-size: 20px;
	}

.top_button {
		background: #fff;
		color: #e77e04;
		font-size: 20px;
		text-transform: uppercase;
	}

.button {
		text-align: center;
		display: inline-block;
		line-height: 1;
		border-radius: 3px;
		padding: 15px 30px 18px;
		width: 100%;
	}

.logo {
		color: #2b3f4c;
		font-size: 30px;
		line-height: 100px;
	}

.feature {
		text-align: center;
	}
	
.feature_title {
		color: #e77e04;
		font-size: 26px;
		text-transform: uppercase;
	}

.download {
		text-align: center;
	}

.download_title {
		color: #e77e04;
		font-size: 42px;
	}

.download_text {
		font-size: 18px;
	}

.gallery {
		background: #eee;
	}

.gallery_title {
		color: #2b3f4c;
		font-size: 36px;
	}

.footer {
		border-top: 1px solid #eee;
		padding: 30px 0;
		text-align: center;
	}

.intro_row {
		padding: 100px 0;
		position: relative;
	}

.intro_row:before {
		background: url(../images/intro_phone.png) no-repeat;
		bottom: 0px;
		content: '';
		height: 554px;
		position: absolute;
		width: 325px;
		right: 130px;
	}

.social {
	margin-bottom: 20px;
	}

.social_link {
	color: #2b3f4c;
	display: inline-block;
	margin: 0 5px;
	}

.bottom_link {
	color: #2b3f4c;
	display: inline-block;
	margin: 0 5px;
}